# ─── Cloud SQL ───────────────────────────────────────────
CATALOG_DB_URL=jdbc:postgresql://IP_CLOUD_SQL:5432/catalog_db
CART_DB_URL=jdbc:postgresql://IP_CLOUD_SQL:5432/cart_db
ORDER_DB_URL=jdbc:postgresql://IP_CLOUD_SQL:5432/order_db
INVENTORY_DB_URL=jdbc:postgresql://IP_CLOUD_SQL:5432/inventory_db
PAYMENT_DB_URL=jdbc:postgresql://IP_CLOUD_SQL:5432/payment_db
NOTIFICATION_DB_URL=jdbc:postgresql://IP_CLOUD_SQL:5432/notification_db

DB_USER=flashbuy
DB_PASS=flashbuy123

# ─── Redis Memorystore ───────────────────────────────────
REDIS_GATEWAY_HOST=IP_REDIS_GATEWAY
REDIS_CATALOG_HOST=IP_REDIS_CATALOG
REDIS_INVENTORY_HOST=IP_REDIS_INVENTORY

# ─── Kafka en GKE ────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# ─── JWT ─────────────────────────────────────────────────
JWT_SECRET=CAMBIA_ESTO_POR_UN_SECRET_SEGURO